.main {
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
}

nav {
    background-color:#2ec4b6;
}

.paragraph {
    background-color: #2ec4b6;
    padding: 5px;
    border-radius: 3px;
    text-indent: 15px;
}

.heading {
    background-color: #2ec4b6;
    padding: 7.5px;
    border-radius: 5px;
    text-align: center;  
    display: inline-block;
    margin-bottom: 3%;
}

.div-center {
    text-align: center;
}

body {
    color: white;
    background-color:#cbf3f0;
}