.title {
    margin-left: 3%;
    font-size: 6em;
}

.input {
    margin-left: 3%;
    border-radius:5px;
    border-style:solid;
    border-color:black;
    height: 50px;
    text-align: center;
    font-size: 24px;
}

.tag {
    margin-left: 3%;
    margin-top:3%;
    font-size:3em;
}

.info {
    margin-left: 3%;
}

.submit {
    margin-top:3%;
    margin-left: 3%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-style:none;
    border-radius: 15px;
    color: white;
    font-size: 2em;
}

.dropdown {
    margin-left: 3%;
}

.main {
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}