.main {
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
#subheading {
    margin-top: 4.5%;
    font-size: 48px;
}
#title {
    font-size: 120px;
}

.signup {
    color: white;
    border-style: none;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    margin-top: 3.5%;
    padding-left: 25px;
    padding-right: 25px;
}

.login {
    color: white;
    border-style: none;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    margin-top: 3.5%;
    padding-left: 25px;
    padding-right: 25px;
}