<!-- This is a copied template for a 404 page that I found on some website here is the link for credit - https://bootsnipp.com/snippets/qr73D -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- title and metadata -->
    <title>404</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- bootstrap older version + jquery -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- icon -->
    <link rel="icon" href="/assets/icon.png" type="image/x-icon" />
  </head>
  <body>
    <!-- content -->
    <div class="d-flex justify-content-center align-items-center" id="main">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404 </h1>
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc">The page you requested was not found. You can go back home <a href="/" class="text-info">here</a></h2>
        </div>
    </div>
    <!-- css -->
    <style>
        #main {
            height: 100vh;
        }
    </style>
  </body>
</html>
